@{
    ViewBag.Title = "Поиск маршрутов";
}



<head>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=f4252eab-9ec5-4695-8fed-2d8b3d4c395f&lang=ru_RU" type="text/javascript">

    </script>
</head>

<h2>Поиск маршрутов</h2>
<button id="routeSearch" type="button" class="btn">Поиск</button>
@Scripts.Render("~/bundles/jquery")
<script>
    ymaps.ready(function () {
    $("#routeSearch").on('click', function (e) {
        $.ajax({

            url: "@Url.Action("FindingDistancesBetweenCustomersAndDepots", "Home")",
            type: "POST",
            data: {

            
               
    },
    success: function (data) {
            let distanceMatrix = [];
                for(var i = 0; i<data.countDepot; i++)
                {
                    let auxiliaryMatrix = [];
                    for (var j = 0; j < data.countCustomer; j++) {
                        auxiliaryMatrix[j] = ymaps.coordSystem.geo.getDistance([data.CoordinateDepot[i].latitude, data.CoordinateDepot[i].longitude],
                            [data.CoordinateCustomer[j].latitude, data.CoordinateCustomer[j].longitude]);
                    }
                    distanceMatrix[i] = auxiliaryMatrix;
                }
    },
    error: function (data) {
    alert('Error occurred');
    }
    });
    })
      });
</script>